body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0}table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var{font-weight:normal;font-style:normal}
ol,ul,li{list-style:none}
caption,th{text-align:left}
.clear{clear:both}
body{color:#555252;font-family:arial,verdana,sans-serif}
p{line-height:20px}
a{color:#1BA1E2;text-decoration:none}
a:hover{text-decoration:underline}
a:focus{outline:none}
#main,#header-container,#container,#footer-content{width:980px;margin:0 auto}
#main{background:#fff;margin:10px auto;font-size:12px;margin-bottom:30px}
#header-left,#header-right{float:left}
#header-left{width:300px}
#tagline{color:#888A8B;font-weight:normal}
#header-right{width:680px;overflow:hidden}
#header-icons{float:right;margin:30px -35px 0 0;_margin:30px -70px 0 0;position:relative}
#header-icons ul li{float:left;margin:0 45px 0 0}
#header-icons ul li a{display:block;width:48px;height:48px;background:url("images/bg.gif") no-repeat;text-indent:-9999px}
#header-icons .icon-ips{background-position:-1px -198px}
#header-icons .icon-ips:hover{background-position:-1px -250px}
#header-icons .icon-ipc{background-position:-54px -199px}
#header-icons .icon-ipc:hover{background-position:-54px -250px}
#header-icons .icon-bzk{background-position:-107px -198px}
#header-icons .icon-bzk:hover{background-position:-107px -251px}
#header-icons .icon-zhaofile{background-position:-208px -198px}
#header-icons .icon-zhaofile:hover{background-position:-208px -251px}
#header-icons .icon-rss{background-position:-158px -199px}
#header-icons .icon-rss:hover{background-position:-158px -250px}
#header-nav{overflow:hidden;border-top:1px solid #ECEDE8}
#header-nav ul{float:left;width:745px}
#header-nav ul li{float:left}
#header-nav ul li a{display:inline-block;height:35px;line-height:35px;padding:0 18px;color:#666;font-weight:bold;text-decoration:none}
#header-nav ul li a:hover{color:#1BA1E2}
.current a:link{border-bottom:5px solid #1BA1E2}
.current a:visited{border-bottom:5px solid #1BA1E2}
.header-search{float:left;margin:5px 10px 0 0;float:right;background:url("images/bg.gif") no-repeat 0 -133px;height:27px;padding:3px 0 0 5px;width:215px}
.search-text-box{-moz-background-inline-policy:continuous;border:1px solid #FFF;color:#888;float:left;font-size:14px;height:21px;line-height:21px;outline:medium none;width:170px}
.header-search-normal,.header-search-hover{background:url("images/bg.gif") no-repeat -183px -136px;background-repeat:no-repeat;border:medium none;cursor:pointer;float:left;height:24px;margin-left:6px;width:34px}
.header-search-hover{background-position:-183px -166px}
#logo{background:url("images/bg.gif") no-repeat 0px 13px}
#logo a{text-indent:-9999px;display:block;height:125px;outline:none}
#crumb{padding:10px 0;color:#888;border-top:1px dashed #ECEDE8;border-bottom: 1px solid #ECEDE8;margin-top:-1px;position:relative;_zoom:1;+zoom:1}
.prev-next{display:block;text-align:center;margin:10px 0 10px 0;position:relative}
.prev-next a{display:inline-block;padding:7px 15px;background:#eee;color:#888;-moz-border-radius:5px 5px 5px 5px;-webkit-border-radius:5px;border-radius:5px 5px 5px 5px}
.prev-next a:hover{background:#1BA1E2;color:#fff;text-decoration:none}
.prev-next .prev{margin-right:10px}
.prev-next-page{margin-right:10px;display:inline-block; padding:7px 0px;}
.pagenavi{display:block;text-align:center;margin:15px 0}
.pagenavi a{display:inline-block;padding:0 8px;margin:0 2px 0 0;height:25px;line-height:25px}
.pagenavi a:hover,.pagenavi a.current{color:#fff;background:#1BA1E2;padding:0 13px;-moz-border-radius:5px 5px 5px 5px;-webkit-border-radius:5px;border-radius:5px 5px 5px 5px}
.pagenavi span{color:#fff;background:#1BA1E2;display:inline-block;padding:0 13px;height:25px;line-height:25px;-webkit-border-radius:5px;}
.content{float:left;width:680px}
.post-list{width:695px;border-top:1px solid #ECEDE8}
.post-list .post{display:inline-block;width:100%;position:relative;padding:30px 0 20px;border-bottom:1px solid #ECEDE8;clear:both}
.post-thumb img{width:150px;height:120px;}
.post-thumb a{width:150px;height:120px;display:inline-block;padding:3px;border:1px solid #ddd}
.post-thumb a:hover{border:1px solid #4EB7FF;background:#4EB7FF}
.post-list .post .post-thumb{float:left;margin:0 15px 15px 0}
.post-body{float:left;width:522px}
.post-menu{display:none;position:absolute;right:18px;top:-20px}
.readmore{width:52px;display:block;overflow:hidden;padding:50px 15px 8px 8px;background:#1BA1E2;color:#fff;-moz-border-radius:5px 5px 5px 5px;-webkit-border-radius:5px;border-radius:5px 5px 5px 5px}
.readmore:hover{text-decoration:none}
.post h2,#post h1,#post h2{font-weight:normal;font-size:18px;font-family:Microsoft YaHei,arial,verdana,sans-serif;margin-bottom:5px}
.post h2 a,#post h1 a,#post h2 a{display:inline-block;color:#1BA1E2}
.post h2 a:hover,#post h1 a:hover,#post h2 a:hover{text-decoration:underline}
.box-title{color:#fff;border-bottom:1px solid #ECEDE8;margin:0 0 26px 0}
.box-title span{display:inline-block;font-size:12px;width:70px;overflow:hidden;padding:45px 25px 10px 10px;background:#1BA1E2;_position:relative;margin:15px 0 -16px 0}
.post-attr,.post-meta{color:#888A8B;margin:0 0 10px 0}
.post-meta a,.post-attr a{color:#111}
.post-meta a,.post-attr a:hover{color:#1BA1E2}
#post-meta ul li{padding:6px 0;border-bottom:1px dashed #ECEDE8}
#post{overflow:hidden;padding:25px 0 0 0}
.post-content{line-height:18px;margin:5px 0;color:#888}
#post-content p{line-height:25px;margin:10px 0}
#post-content h3{background:none repeat scroll 0 0 #F1F7FD;border:1px solid #D2E8FA;color:#666;padding:0 10px;font-size:12px;height:25px;line-height:25px}
.related-posts{overflow:hidden;position:relative;margin:0 0 0 -14px}
.related-posts li{display:block;float:left;margin:0 0 15px 14px;width:158px;height:175px;_margin:0 0 0 10px;_height:190px}
blockquote,code,pre{ background:#F9F9F9; border:1px solid #EAEAEA; display:block; margin:10px 0; padding:10px}
.comment{overflow:hidden;border-bottom:1px dashed #ECEDE8;padding:15px 0;clear:both;width:100%;display:inline-block}
.gravatar{border:1px solid #ddd;padding:2px}
.comment .gravatar{float:left;margin-right:10px}
.commentText{width:615px;float:left;overflow:hidden;color:#666}
.comment-author{color:#aaa;margin:0 0 5px 0}
.comment-reply-link{display:none}
.commentMeta{color:#aaa}
.waiting-for-approval{color:red}
#commentlist .children{margin:15px 0 -15px 66px;clear:both;display:inline-block;overflow:hidden}
#commentlist .children .comment{border-top:1px dashed #ECEDE8;border-bottom:none}
#commentlist .children .commentText{width:549px}
#respond{_width:635px;overflow:hidden;background:#F5FAFE;clear:both;line-height:20px;margin-top:35px;padding:20px;border:2px solid #D2E8FA}
#comment_left{float:left;width:226px}
#comment_left p{margin-bottom:25px}
#comment_left img{border:1px solid #D2E8FA;padding:2px;display:inline-block}
#comment_right{float:left;width:400px}
#comment_right_btm{text-align:right;margin-top:20px;position:relative;width:400px}

#comment_right_btm input{background:url(images/em_button.gif) no-repeat; border:0; color:#000000; width:111px; height:29px; text-align:center; cursor:pointer; _cursor:hand}

#comment_left input,#respond textarea{vertical-align:middle;border:2px solid #D9ECFB;color:#666;padding:5px}
#comment_left input:focus,#respond textarea:focus{border:2px solid #82CDFF;outline-style:none !important;outline-width:0 !important}
#comment{width:400px;height:126px;padding:10px}
#cancel-comment-reply{margin:-10px 0 10px 0;position:relative}
.no-results{margin:35px 0 0 0;color:#888}
.no-results h2{font-size:25px;color:#555}
#sidebar{float:right;width:270px}
.calendartop{text-align:center;font-size:12px;margin-left:30px}
.calendar{margin-bottom:10px;width:260px}
.calendar td{font-size:12px;text-align:center;padding:1px 5px;line-height:1.6}
.calendar td a:link{color:#886353;text-decoration:none}
.calendar td a:hover{color:#886353;text-decoration:none}
.widget .widget-title{display:block;font-size:12px;color:#444;background:#eee;margin:25px 0 0 0;padding:7px 10px;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}
.widget .link-list{border-bottom:none}
.widget .link-list li{padding:0;overflow:hidden}
.widget .link-list li a{display:block;height:100%;padding:8px 10px;color:#777;border-bottom:1px solid #ECEDE8}
.widget .link-list li a:hover{background:#1BA1E2;color:#fff;text-decoration:none}
.search{ width:300px;}

.widget-content{padding:10px}
.taglist{clear:both}
.taglist a{display:inline-block;float:left;padding:3px 5px;white-space:nowrap;height:15px;line-height:15px}
.taglist a:hover{background:#1BA1E2;color:#fff;text-decoration:none}
.rc_avatar{width:55px;float:left}
.rc_comment{width:185px;float:left;word-break:break-all;overflow:hidden}
.sidebar-comments li{;overflow:hidden;padding:8px 0;border-bottom:1px solid #ECEDE8;clear:both;_display:inline-block}
#footer{color:#686B6C;clear:both;background:#35393C;border-top:5px solid #444;padding:25px 0;font-size:12px}
#footer a{color:#7E8283}
#footer a:hover{color:#fff}
#footer-content{margin:0 auto}
.social_share{margin:30px auto 30px auto;clear:both;overflow:hidden;width:680px;white-space:nowrap}
.sharebutton{background:url("images/share.gif") no-repeat;width:28px;height:25px;display:block;outline:none;float:left;margin:2px 8px 0 0}
.sharebutton:hover{margin-top:0px}
#share_qzone{width:109px}
#share_tqq{background-position:0 -104px;width:91px}
#share_sina{background-position:0 -35px;width:91px}
#share_qqshuqian{background-position:0 -70px;width:91px}
#share_twitter{background-position:-68px -172px}
#share_baidu{background-position:0 -139px}
#share_googlebuzz{background-position:-34px -139px}
#share_douban{background-position:-68px -139px}
#share_renren{background-position:-101px -139px}
#share_xianguo{background-position:-135px -139px}
#share_digu{background-position:-170px -139px}
#share_mail{background-position:-204px -139px}
#record li{ width: 127px; float: left;}

article { width: 70%; float: left;}
#tw {margin-top:40px;}
#twitter li {border-bottom: dotted #CCCCCC 1px;list-style:none;}
#twitter li p {font-size: 10px;padding-left: 68px; text-align:right; padding:5px 0px 2px;}
#twitter p {font-size: 12px;text-align:right;}
#twitter li small {font-size: 10px;padding: 0px 10px;}
#twitter li .t_img{padding: 0 7px;margin: 0 0 0 10px;}
.fixed_side {border: 1px solid #DDDDDD;}
#tw .main_img{ border:1px #2772ae solid; float:left;}
#tw .main_img img{ border:1px #fff solid}
#tw .op{ float:left; height:18px;margin:6px 5px 3px;}
#tw .top{ font-size:12px; text-align:right; border-bottom:1px #F7F7F7 solid; line-height:2;width:560px;}
#tw .top a{ padding:0px 15px 0px 17px;}
#tw ul{ margin:5px 0px 3px 15px; width:520px; line-height:1.8;padding:0px;}
#tw ul .li {
    background: none repeat scroll 0 0 #FFFFFF;
    margin:0;
    padding: 5px 0;
    border-top: 1px solid #ECEDE8;
}
#tw ul li{margin:0px 0px; padding:0;}
#tw ul li .main_img {
    margin-left: 10px;
    margin-top: 5px;
}
#tw ul li .post1{ float:left;font-size:13px; padding:0px;margin:0; width:470px; padding:0px 0px 0px 8px;}
#tw ul li .post1 span{color:#886353; font-weight:bold;}
#tw ul li{ clear:both; padding:0px; margin:0px;}
#tw ul li .bttome {margin:3px 0;vertical-align:middle}
#tw ul li .bttome .time{ float:left;line-height:14px;margin:0;}
#tw ul li .bttome .post{ float: right;font-size:12px;line-height:14px;margin:0;}
#tw .time{ font-size:12px; color:#999999; padding-left:43px}
#tw ul .r{ margin:5px 0px 0px 40px;color:#666666; border:0; padding:0px;}
#tw ul .r li{padding:5px 3px 3px;border-bottom: #F7F7F7 1px solid; width:475px}
#tw ul .r .num{ font-size:16px; font-weight:bold; color:#0079b7;padding:0px 5px; float:left; width:20px;}
#tw ul .r .time{ padding:0px 5px;}
#tw ul .r .name{ padding:0px 0px 0px 0px; font-size:12px; color:#336699;}
#tw ul .r em a{ font-style:normal;}
#tw ul .huifu {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CCCCCC;
    display: none;
    margin-left: 8px;
    margin-top: 5px;
    text-align: center;
    width: 590px;
}#tw ul .huifu textarea{ margin:5px; width:460px; border:#CCCCCC solid 1px;overflow:auto;}
#tw ul .huifu input{ margin:0px 5px;}
#tw ul .huifu div{ text-align:left; padding:0px 5px; text-align:center}
#tw ul .huifu .text{ width:60px;}
#tw ul .button_p{border:0;cursor:pointer; _cursor:hand; width:63px; height:25px;}
#tw .tbutton{ font-size:12px;float:none; margin-bottom:3px;}
#tw .tbutton input{ width:90px; border:#CCCCCC solid 1px; }
#tw .tbutton .button_p{border:0;cursor:pointer; _cursor:hand; width:60px; height:25px;}
#tw .tbutton .tinfo{ float:left; }
#tw .msg{ clear:both}
#tw li{list-style:none;}
#tw ul .huifu textarea{background-color:#FFFFFF;}
#tw ul .huifu input{background-color:#FFFFFF;}
#tw ul li ul{ line-height:0;font-size:0;}
#tw ul li ul li{ font-size:12px; line-height:22px;}
#tw .top{width:650px;}
#tw ul li .post1{ width:80%;color: #555555;}
#tw ul{ width:97%;}
#tw ul .r li{width:550px}
#tw ul .huifu textarea{width:550px;}
#tw ul li .bttome .post{ font-size:12px;line-height:14px;margin:0; text-align:right; float:none;clear:both; width:100%; background:0; border:0;}
#tw ul li .bttome .time{ float:none; margin-top:-5px;}
#tw p .t_img{padding: 0 7px;margin: 0 0 0 10px;}